@import './variables.css';

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-size: 1rem; /* Base font size */
  width: 100vw;
}

.App {
  text-align: center;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 1.5rem 0;
}

.App-header {
  background-color: #212e48;
  color: white;
  border-radius: 1rem;
  border: 3px ridge aqua;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.step-container {
  margin: 1.25rem;
}

.header {
  font-size: 2em;
  margin: 0.5rem !important;
  text-align: center;
}

.topHeader {
  font-size: 2.6em; /* Increased by 30% */
  margin-bottom: 1.25rem;
  text-align: center;
  background-color: #212e48;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.3rem ridge var(--primary-color);
}



.medication-tracker {
  margin-top: 1.25rem;
}

.countdown-popup {
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  border: 0.1rem solid #fff;
  padding: 1.25rem;
  border-radius: 0.6rem;
  text-align: center;
  color: white;
  font-size: 1.5em; /* Reduced font size by 25% */
  z-index: 1000;
}

footer.footer {
  background-color: var(--background-color);
  border-top: 0.3rem ridge var(--primary-color);
  bottom: 0;
  color: var(--text-color);
  padding: 0.5rem;
  position: relative; 
  text-align: center;
  width: 100vw !important;  
  font-size: 1rem;
}

h1.header {
  font-size: 2em;
  line-height: 1.1;
}



@media (max-width: 1200px) {

  .topHeader {
    font-size: 2em; /* Increased by 30% */
  }
  footer.footer {
    font-size: 0.9rem;
    padding: 0.8rem;
  }
}

@media (max-width: 992px) {

  .header {
    font-size: 2em;
  }
  .topHeader {
    font-size: 1.95em; /* Increased by 30% */
  }
  footer.footer {
    font-size: 0.8rem;
    padding: 0.6rem;
  }
}

@media (max-width: 768px) {

  .header {
    font-size: 1.75em;
  }
  .topHeader {
    font-size: 1.625em; /* Increased by 30% */
  }
  footer.footer {
    font-size: 0.7rem;
    padding: 0.5rem;
  }
  .aclsHeader {
    font-size: 1.5em;
  }

}

@media (max-width: 576px) {

  .header {
    font-size: 1.5em;
  }
  .topHeader {
    font-size: 1.3em; /* Increased by 30% */
  }
  footer.footer {
    font-size: 0.6rem;
    padding: 0.4rem;
  }
  .aclsHeader {
    font-size: 1.25em;
  }
}

@media (max-width: 480px) {

  .header {
    font-size: 1.25em;
  }
  .topHeader {
    font-size: 1.1375em; /* Increased by 30% */
  }
  footer.footer {
    font-size: 0.5rem;
    padding: 0.3rem;
  }
  .aclsHeader {
    font-size: 1.1em;
  }
  .aclsStep {
    font-size: calc(1.8em * 0.8); /* 20% smaller than aclsHeader */
  }
}
